obscure_*/*
*.pt
Dataset/Train-Test-Val Split/*/*/images
Dataset/Train-Test-Val Split/images

# model training cache files
*.cache

# training results
runs/
!Tensorboard/runs/

# report build files
documentation/Reports/*
!documentation/Reports/Assignment_Report.tex
!documentation/Reports/Assignment_Report.pdf
!documentation/Reports/Generative AI Usage Journal.tex
!documentation/Reports/Generative AI Usage Journal.pdf
!documentation/Reports/merged_reports.pdf
!documentation/Reports/*.png
!documentation/Reports/*.jpg

zip it/*
!zip it/*.zip